* {
  box-sizing: border-box;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  overflow: hidden;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 350px;
}

@media (max-width: 1000px) {
  .swiper-slide {
    height: 550px;
  }
}

.container-btn {
  background-position: center;
}

@media (max-width: 694px) {
  .container-btn {
    display: none;
   }
}

.slideNext,
.slidePrev {
  display: flex;
  position: absolute;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  font-size: 23px;
  background: linear-gradient(180deg, #f9e000 0%, #fd9100 79.17%);
  box-shadow: 0px 2px 2px #c8510e;
  background-position: center center;
  border-radius: 50%;
  border: unset;
  cursor: pointer;
  z-index: 2;
}


@media (max-width: 1145px) {
  .slideNext,
  .slidePrev {
    width: 50px;
    height: 50px;
   }
}

.slideNext {
  top: 50%;
  right: -30px;
}

@media (max-width: 1145px) {
  .slideNext {
    right: -20px;
   }
}

.slidePrev {
  top: 40%;
  left: 0;
  transform: scale(-1, 1);
}

@media (max-width: 1000px) {
  .slidePrev {
    top: 45%;
   }
}